.write{
    padding-top: 20px;
}
.formwrite{
    position: relative;
}
.writeformgroup{
    margin-left: 250px;
    display: flex;
    align-items: center;
}
.icon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.writetext{
    height: 45px;
    width:700px;
    font-size: 25px;
    align-items: center;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    border:none
}
.writeinput{
    width: 730px;
    height: 100vh;
    font-size: 25px;
    align-items: center;
    border-radius: 2px;
    border: none;
}
.writeinput:focus{
    outline: none;
}
.formsubmit{
    position: absolute;
    top: 20px;
    right: 50px;
    width: 120px;
    height: 35px;
    font-size: 25px;
    
    background-color: green;
    border-radius: 5px;
    cursor: pointer;
}
.formimage{
    margin-left: 250px;
    width: 60vw;
    height: 550px;
    border: 1px solid black;
    border-radius: 5px;
    object-fit: cover;
}